.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
border: 2px solid black;
overflow: hidden;
 width: 30vw;

}
.color{
   background-color: yellow;
    border-right: 1px solid black;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: green;
    width: 25vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}
.block div{
    background-color: rgba(240, 255, 255, 0.41);
    height: 50px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.block div input{
    height: 10px;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
}
.button input{
    width: 5vw;
    height: 20px;
    background-color: rgb(18, 49, 18);
    color: aliceblue;
}
